<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" name="nyideas" packages="">
	<Appenders>
		<File name="fout" fileName="appData.log" append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="fout" additivity="false" />
		</Root>
	</Loggers>
</Configuration>